services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    env_file:
      - .env
    ports:
      - "9443:9443"   # HTTPS UI
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  data: