services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    env_file:
      - stack.env
    ports:
      - "9443:9443"   # HTTPS UI
      - "8000:8000"   # Edge agent (opcional)
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  data: