###############################################
# PORTAINER CONFIG
###############################################

# Puerto interno HTTPS
PORTAINER_HTTPS_PORT=9443

# Puerto Edge (solo si lo usas)
PORTAINER_EDGE_PORT=8000

###############################################
# OPCIONES AVANZADAS (solo si las necesitas)
###############################################
# PORTAINER_LOG_LEVEL=INFO